.App {
    text-align: center;
    background: linear-gradient(29deg, #ffab00, #a80fe1);
    background-size: 300% 300%;
    -webkit-animation: BackgroundGradient 4s ease infinite;
    -o-animation: BackgroundGradient 4s ease infinite;
    animation: BackgroundGradient 4s ease infinite;
}

.HeaderTypo {
    font-size: 5em !important;
}

@-webkit-keyframes BackgroundGradient {
    0% {
        background-position: 0% 38%
    }
    50% {
        background-position: 100% 63%
    }
    100% {
        background-position: 0% 38%
    }
}

@-o-keyframes BackgroundGradient {
    0% {
        background-position: 0% 38%
    }
    50% {
        background-position: 100% 63%
    }
    100% {
        background-position: 0% 38%
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 63%
    }
    100% {
        background-position: 0% 38%
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    min-width: 100vw;
    min-height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}